{% extends 'main.html'%}

{% block content %}  
<div>


    <form method = "GET" action=".">
         <input type="search" name="doctor_id" placeholder="user"/>
    <input type="search" name="date" placeholder="date"/>
    <input type="search" name="location" placeholder="location" />

<button type="submit" class="btn btn-primary">Search</button>
         </form>
    <ul>
        {% for entry in entries %}
        <li>
            <br>Name: {{ entry.doctor_id }} | Date: {{ entry.date }} | Start time: {{ entry.start_time }} | End Time:{{ entry.end_time }}</br>          
        </li>
            {% endfor %}
  </ul>


</div>

{% endblock content %}